@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 1.2em;
}
h1 {
  font-size: 2.857rem;
}
h2 {
  font-size: 2.286rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.714rem;
}
h5 {
  font-size: 1.429rem;
}
h6 {
  font-size: 1.143rem;
}
strong {
  font-weight: bold;
}
